.fiza-1{
    font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
.backgrondimg{
background-image: url("./360_F_658213577_ayMyHpd9K2on301GWB0DzeOyxWM0XLiX-removebg-preview.png");
  background-repeat: no-repeat;
  background-size:250px;
  background-attachment: fixed;
}
.f-hover:hover{
  color: rgb(241, 174, 18) !important;
}
.f-hover:hover{
  color: rgb(241, 174, 18) !important;
}
.fn-1{
   transform: scale(); 
    /* transition: transform 0.5s ease-in-out; */
}
.fn-1:hover {
  transform: scale(1.1)
  /* border:2px solid black; */
}